.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reposition {
  overflow: hidden;
  position: relative;
}

.fb_invisible {
  display: none;
}

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
  > div {
    overflow: hidden;
  }
}

.fb_link img {
  border: none;
}

@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.fb_animate {
  animation: fb_transform 0.3s forwards;
}

.fb_dialog {
  background: rgba(82, 82, 82, 0.7);
  position: absolute;
  top: -10000px;
  z-index: 10001;
}

.fb_reset .fb_dialog_legacy {
  overflow: visible;
}

.fb_dialog_advanced {
  padding: 10px;
  border-radius: 8px;
}

.fb_dialog_content {
  background: #fff;
  color: #333;
}

.fb_dialog_close_icon {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px;
}

.fb_dialog_mobile .fb_dialog_close_icon {
  top: 5px;
  left: 5px;
  right: auto;
}

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1;
}

.fb_dialog_close_icon {
  &:hover {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
  }
  &:active {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
  }
}

.fb_dialog_loader {
  background-color: #f6f7f9;
  border: 1px solid #606060;
  font-size: 24px;
  padding: 20px;
}

.fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute;
}

.fb_dialog_top_left {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
  left: -10px;
  top: -10px;
}

.fb_dialog_top_right {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
  right: -10px;
  top: -10px;
}

.fb_dialog_bottom_left {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
  bottom: -10px;
  left: -10px;
}

.fb_dialog_bottom_right {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
  right: -10px;
  bottom: -10px;
}

.fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  position: absolute;
  background: #525252;
  filter: alpha(opacity = 70);
  opacity: 0.7;
}

.fb_dialog_vert_left, .fb_dialog_vert_right {
  width: 10px;
  height: 100%;
}

.fb_dialog_vert_left {
  margin-left: -10px;
}

.fb_dialog_vert_right {
  right: 0;
  margin-right: -10px;
}

.fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  width: 100%;
  height: 10px;
}

.fb_dialog_horiz_top {
  margin-top: -10px;
}

.fb_dialog_horiz_bottom {
  bottom: 0;
  margin-bottom: -10px;
}

.fb_dialog_iframe {
  line-height: 0;
}

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  > span {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px;
  }
}

body.fb_hidden {
  -webkit-transform: none;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%;
}

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001;
  &.centered {
    width: auto;
    height: auto;
    min-height: initial;
    min-width: initial;
    background: none;
    #fb_dialog_loader_spinner {
      width: 100%;
    }
    .fb_dialog_content {
      background: none;
    }
  }
}

.loading.centered #fb_dialog_loader_close {
  color: #fff;
  display: block;
  padding-top: 20px;
  clear: both;
  font-size: 18px;
}

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
  &.hidden {
    display: none;
  }
}

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden;
}

.fb_dialog_content {
  .dialog_header {
    -webkit-box-shadow: white 0 1px 1px -1px inset;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
    border-bottom: 1px solid;
    border-color: #1d4088;
    color: #fff;
    font: 14px Helvetica, sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap;
    table {
      -webkit-font-smoothing: subpixel-antialiased;
      height: 43px;
      width: 100%;
    }
    td {
      &.header_left {
        font-size: 12px;
        padding-left: 5px;
        vertical-align: middle;
        width: 60px;
      }
      &.header_right {
        font-size: 12px;
        padding-right: 5px;
        vertical-align: middle;
        width: 60px;
      }
    }
  }
  .touchable_button {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(0.5, #355492), to(#2A4887));
    border: 1px solid #29487d;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.11719) 0 1px 1px inset, rgba(255, 255, 255, 0.16797) 0 1px 0;
    display: inline-block;
    margin-top: 3px;
    max-width: 85px;
    line-height: 18px;
    padding: 4px 12px;
    position: relative;
  }
  .dialog_header {
    .touchable_button input {
      border: none;
      background: none;
      color: #fff;
      font: 12px Helvetica, sans-serif;
      font-weight: bold;
      margin: 2px -12px;
      padding: 2px 6px 3px 6px;
      text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0;
    }
    .header_center {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .dialog_content {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #555;
    border-bottom: 0;
    border-top: 0;
    height: 150px;
  }
  .dialog_footer {
    background: #f6f7f9;
    border: 1px solid #555;
    border-top-color: #ccc;
    height: 40px;
  }
}

#fb_dialog_loader_close {
  float: left;
}

.fb_dialog.fb_dialog_mobile {
  .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0;
  }
  .fb_dialog_close_icon {
    visibility: hidden;
  }
}

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 24px;
  width: 24px;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.fb_iframe_widget {
  display: inline-block;
  position: relative;
  span {
    display: inline-block;
    position: relative;
    text-align: justify;
  }
  iframe {
    position: absolute;
  }
}

.fb_iframe_widget_fluid_desktop {
  max-width: 100%;
  span {
    max-width: 100%;
  }
  iframe {
    max-width: 100%;
    min-width: 220px;
    position: relative;
  }
}

.fb_iframe_widget_lift {
  z-index: 1;
}

.fb_hide_iframes iframe {
  position: relative;
  left: -10000px;
}

.fb_iframe_widget_loader {
  position: relative;
  display: inline-block;
}

.fb_iframe_widget_fluid {
  display: inline;
  span {
    width: 100%;
  }
}

.fb_iframe_widget_loader {
  iframe {
    min-height: 32px;
    z-index: 2;
    zoom: 1;
  }
  .FB_Loader {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
    height: 32px;
    width: 32px;
    margin-left: -16px;
    position: absolute;
    left: 50%;
    z-index: 4;
  }
}

.fb_customer_chat_bounce_in {
  animation-duration: 250ms;
  animation-name: fb_bounce_in;
}

.fb_customer_chat_bounce_out {
  animation-duration: 250ms;
  animation-name: fb_fade_out;
}

.fb_invisible_flow {
  display: inherit;
  height: 0;
  overflow-x: hidden;
  width: 0;
}

.fb_mobile_overlay_active {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  position: fixed;
  visibility: hidden;
  width: 100%;
}

@keyframes fb_fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes fb_bounce_in {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
    transform-origin: 100% 100%;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: .8;
    transform: scale(1.03, 1.03);
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-cSZMZ-Y.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-eCZMZ-Y.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-cyZMZ-Y.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZVcf6lvg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZXMf6lvg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZV8f6lvg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZVsf6lvg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local("Oxygen Light"), local("Oxygen-Light"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDcZG1Wl4LcnbuCJW8zZmW5O7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local("Oxygen Light"), local("Oxygen-Light"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDcZG1Wl4LcnbuCJW8zaGW5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen Regular"), local("Oxygen-Regular"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local("Oxygen Regular"), local("Oxygen-Regular"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDfZG1Wl4LcnbuKjk0m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local("Oxygen Bold"), local("Oxygen-Bold"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDcZG1Wl4LcnbuCNWgzZmW5O7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local("Oxygen Bold"), local("Oxygen-Bold"), url(https://fonts.gstatic.com/s/oxygen/v7/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.share-links {
  text-align: right;
  right: 0;
  top: 10vh;
  width: auto;
  padding-bottom: 30px;
  a {
    text-decoration: none;
    display: inline;
    padding-right: 10px;
  }
  img {
    height: 36px;
  }
}

.main-description {
  padding-top: 60px;
  padding-bottom: 0;
  background-color: black;
  color: white;

  h1 {
    font-size: 3.5em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.8em;
    font-weight: 200;
    line-height: 1.3em;
  }
  h5 {
    font-size: 1.3em;
    font-weight: 100;
    line-height: 1.5em;
    color: white;
  }
  a {
    color: inherit !important;
    text-transform: none !important;
    text-decoration: none !important;
    border: 0 !important;
    font-family: inherit !important;
    &:hover {
      color: #74c0e2 !important;
    }
  }
}
