{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with page.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% load compress %}
        {% compress css %}
          {% block css %}
            {# Global stylesheets #}
            <link href="{% static 'scss/bootstrap/bootstrap.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
            <link href="{% static 'scss/blacktail.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
          {% endblock %}
        {% endcompress %}
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=166042473905889";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {% include "blacktail/includes/nav_bar.html" %}

        {% block content %}{% endblock %}

        {% block footer %}
        <footer>
          <section class="container">
            <div class="row">
              <div class="col-sm">
                The Black Sea by <a href="http://crji.org">crji.org</a> is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> if not otherwise stated. Based on a work at <a href="https://theblacksea.eu">theblacksea.eu</a>. This web application is Free Software (AGPLv3+), the source code is <a href="https://github.com/CRJI/theblacksea.eu">available on GitHub</a> and waiting for contributions.
              </div>
            </div>
          </section>
        </footer>
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/blacktail.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/collapse.js' %}"></script>
        {% endblock %}
    </body>
</html>
