{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/author.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

  <div class="hspacer"></div>
  <section class="author_container container">
    <div class="row">
      <div class="col-sm-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              {% image model.image fill-275x185 %}
            </div>
            <div class="col-sm-12">
              {{ model.name }}
              <br/>
              {{ model.occupation }}
              <br/>
              {{ model.url }}
              <br/>
              {{ model.email }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        {{ model.bio | richtext }}
        <br/>
        <ul>
          {% for story in model.stories.live %}
          <li>
            <a href="{{ story.url }}"> {{ story.title }} </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
