{% extends "base.html" %}

{% load wagtailcore_tags static %}


{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}
  <h1>{{ page.title }}</h1>

  <p class="meta">{{ page.intro|date }}</p>

  {{ page.intro|richtext }}
  {{ page.body|richtext }}

  <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}
