{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static compress static %}

{% block extra_css %}
  {% compress css %}
    <link href="{% static 'scss/index_pages.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
    <link href="{% static 'scss/social.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

  <section class="index-page-header container">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'>
        <h1 class="index-page-title">{{ page.title }}</h1>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9'>
        {{ page.intro | richtext }}
      </div>

    </div>
  </section>

  <hr/>

  <section class="posts_container container">
    <div class="row">
      {% for post in posts %}
        {% with post=post.specific %}
          {% include "blacktail/includes/blog_list_item.html" %}
        {% endwith %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
