{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block extra_css %}
  {% load compress %}
  {% compress css %}
    <link href="{% static 'scss/home_page.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
  {% endcompress %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  {% include "blacktail/includes/social_widget.html" %}

  {% image page.image original class="home_image" %}

<section class="recent-posts">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
      {% for post in blogs %}
        {% if forloop.counter|divisibleby:2 %}
          </div>
          <div class="col-md-3">
        {% endif %}
        {% with post=post.specific %}
          <article>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </article>
        {% endwith %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="recent-stories container">
  <div class="row">
    {% for post in stories %}
      {% with post=post.specific %}
        {% image post.image original as img %}
          {% include "blacktail/includes/stories_list_item.html" %}
      {% endwith %}
    {% endfor %}
  </div>
</section>

<hr/>

<section class="follow">
  <p class="text-center">
    Follow us
  </p>
  <div class="social-buttons text-center">
    <a href=""> <i class="fab fa-lg fa-facebook-square"></i> </a>
    <a href=""> <i class="fab fa-lg fa-twitter-square"></i> </a>
    <a href=""> <i class="fas fa-lg fa-envelope"></i> </a>
    <a href=""> <i class="fas fa-lg fa-rss-square"></i> </a>
  </div>
</section>

{% endblock %}
