<section class="share-links">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}">
    <img src="//theblacksea.eu/malta-files/public/img/icons/icon-fb.svg" alt="Share on Facebook" />
  </a>
  <a href="mailto:?subject=&body={{page.url}}">
    <img src="//theblacksea.eu/malta-files/public/img/icons/icon-email.svg" alt="Share via E-mail" />
  </a>
</section>
